.card {
    display: block;
    max-width: 300px;
    margin: auto;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.75);
    #flateblock {
        display: block;
        position: relative;
        top: -40px;
        background-color: white;
        p {
            opacity: 0.0;
        }
    }
    &:hover {
        #flateblock {
            transform: translateY(-200px);
            p {
                opacity: 1.0;
            }
        }
    }
}

#myimg {
    // &:hover {
    //     transform: scale(1.5);
    // }
}

.title {
    color: grey;
    font-size: 18px;
}

#footer {
    p {
        display: inline;
        margin: 10px;
    }
}

.dot {
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    background-color: #ea4b3d;
    border-radius: 50%;
    display: inline-block;
    top: -360px;
    right: -240px;
}